__pycache__/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
react_frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

react_frontend/logs
react_frontend/*.log
react_frontend/npm-debug.log*
react_frontend/yarn-debug.log*
react_frontend/yarn-error.log*

/zipped_resources
zipped_resources/*