/*
---- General ------
*/

/* Catppuccin Theme*/
.dark {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
  --box-shadow: #000000 5px 5px 10px 0px;
}

h1 {
  background: linear-gradient(to right, var(--pink), var(--mauve));
  color:transparent;
  background-clip: text;
}

.bg{
  background-image: url("images/evening-sky.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app {
  line-height: 1.5;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mantle);
  border-radius: 4rem;
  text-align: center;
  margin: 6rem;
  height:80vh;  
}

.header {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

main{
  width: 90%;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  
}


.section {
  margin-top: 2em;
}

.title {
  margin-bottom: 1em;
}

/* 
------- footer -------
*/

.footer {
  flex-direction: column;
  text-align: center;
  margin: 3rem;
  /*position: absolute;*/
} 

.outline {
  border: 2px solid transparent;
  background: linear-gradient(var(--mantle), var(--mantle)) padding-box,
              linear-gradient(to right, var(--pink), var(--mauve)) border-box;
  border-radius:0.7rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}


/* 
----- Cards -----
*/

.dealer-card{
  width: 6.5em;;
}

.App-image{
  border-radius:0.7rem;
  border: 2px solid var(--mauve);
  animation: dealCard;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  margin: 0.2rem;
  box-shadow: var(--box-shadow);
}

.home-Image{
  max-width: 100%;
  animation: grow-and-shrink 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.banner{
  margin: 2rem;
}




.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  font-weight: 100;
  font-size: 1rem;
  background-color: var(--text);
  color: var(--base);
  padding: 1rem;
  margin: 1rem;
  border-radius:0.7rem;
}

/*
----- Results & Scores ------
*/

.fade-in-image { 
  animation: fadeIn 1s; 
  animation-delay: 0.5s;
  visibility: hidden;
  background-color: transparent;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { 
    visibility: visible;
    opacity: 1; 
  }
}

.end_balance{
  color: var(--blue);
  font-weight: 100;
}

.score {
  color: var(--blue);
  margin-bottom: 2rem;
  margin-top: 1rem;
  }

.outcome_color{
  background: linear-gradient(to right, var(--pink), var(--mauve));
  color:transparent;
  background-clip: text;
}

.losing_score {
  color: var(--pink);
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* 
-------- links ---------
*/

.link {
  color: var(--text);
  padding: 0 0 0.4em 0;
  position: relative;
  font-size: 1rem;
}

.link:hover {
  color: var(--pink);
}

.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to right, var(--pink), var(--mauve));
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}



/*
------ Buttons -------
*/

.button {
  padding: 0.8em 1.4em;
  transition: transform 0.2s ease-in-out;
  font-size: 1rem;
  box-shadow: var(--box-shadow);
  color: var(--text);
  border: 2px solid transparent;
  background: linear-gradient(var(--mantle), var(--mantle)) padding-box,
              linear-gradient(to right, var(--pink), var(--mauve)) border-box; 
  position: relative;
  overflow: hidden; /*keep the background within the border radius */
  z-index: 1;
  margin: 0.5em;
  border-radius:0.7rem;
  text-transform: lowercase;
}

.button:hover {
  color: var(--base);
}

.button:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right, var(--pink), var(--mauve));;
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.button:hover:before {
  right: 0;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes dealCard {
  from {
    transform: translateY(-100px) ;
    opacity: 25%;
   }
   to {  
    transform: translateY(0px);
    opacity: 100%
   }
  }

 /*
@keyframes dealCard {
 from {
  opacity: 0%;
 }
 to {  
  opacity: 100%;
 }
}
*/