/*
---- General ------
*/

.grad{
  --mantle: #1e2030;
  --bg-alt: #583b59;
  --text: #eceeff;
  --text-alt: #f1f1e6;
  --yellow: #f9f871;
  --orange: #ffb463;
  --light-red: #dd7b6c;
  --pink: #eeb6d6;
  --mauve: #907695;
  --blue: #6d8af5;
  --red: #9f566e;
}

/* Catppuccin Theme*/
.dark {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

h1 {
  background: linear-gradient(to right, var(--pink), var(--mauve));
  color:transparent;
  background-clip: text;
}

.bg{
  background-image: url("images/evening-sky.png");
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--text);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mantle);
  border-radius: 4rem;
  text-align: center;
  height: 70em;
  width: 90%;
  
}

.header {
  height: 8em;
  width: 100%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px #c6a0f6, 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px #c6a0f6; */
}


.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

main {
  max-width: 1100px;
  width: 95%;
}

.section {
  margin-top: 2em;
}

.title {
  margin-bottom: 1em;
}

/* 
------- footer -------
*/

.footer {
  flex-direction: column;
  text-align: center;
  /*position: absolute;*/
  margin: 2rem;
  box-shadow: var(--box-shadow);
} 

.outline {
  border: 2px solid transparent;
  background: linear-gradient(var(--mantle), var(--mantle)) padding-box,
              linear-gradient(to right, var(--pink), var(--mauve)) border-box;
  border-radius:0.7rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}


/* 
----- Cards -----
*/

.dealer-card{
  width:6.5rem;;
}

.App-image{
  border-radius:0.7rem;
  border: 2px solid var(--mauve);
  animation: dealCard;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  /* box-shadow: 0 10px 15px -5px #8aadf4, 0 8px 10px -6px #8aadf4; */
}

.home-Image{
  max-width: 100%;
  animation: grow-and-shrink 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

.banner{
  margin-top: 2rem;
}




.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  font-weight: 100;
  font-size: 1rem;
  background-color: var(--text);
  color: var(--base);
  padding: 1rem;
  margin: 1rem;
  border-radius:0.7rem;
}

/*
----- Results & Scores ------
*/

.fade-in-image { 
  animation: fadeIn 1s; 
  animation-delay: 0.5s;
  visibility: hidden;
  background-color: transparent;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { 
    visibility: visible;
    opacity: 1; 
  }
}

.end_balance{
  color: var(--blue);
  font-weight: 100;
  
}

.score {
  color: var(--blue);
  margin-bottom: 2rem;
  margin-top: 1rem;
  }

.outcome_color{
  background: linear-gradient(to right, var(--pink), var(--mauve));
  color:transparent;
  background-clip: text;
}

.losing_score {
  color: var(--pink);
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* 
-------- links ---------
*/

.link {
  color: var(--text);
  padding: 0 0 0.4em 0;
  position: relative;
  font-size: 1rem;
}

.link:hover {
  color: var(--pink);
}

.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to right, var(--pink), var(--mauve));
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}



/*
------ Buttons -------
*/

.button {
  padding: 0.8em 1.4em;
  transition: transform 0.2s ease-in-out;
  font-size: 1rem;
  box-shadow: var(--box-shadow);
  color: var(--text);
  border: 2px solid transparent;
  background: linear-gradient(var(--mantle), var(--mantle)) padding-box,
              linear-gradient(to right, var(--pink), var(--mauve)) border-box; 
  position: relative;
  overflow: hidden; /*keep the background within the border radius */
  z-index: 1;
  margin: 1em;
  border-radius:0.7rem;
  text-transform: lowercase;
}

.button:hover {
  color: var(--base);
}

.button:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right, var(--pink), var(--mauve));;
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.button:hover:before {
  right: 0;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes dealCard {
  from {
    transform: translateY(-100px) ;
    opacity: 25%;
   }
   to {  
    transform: translateY(0px);
    opacity: 100%
   }
  }

 /*
@keyframes dealCard {
 from {
  opacity: 0%;
 }
 to {  
  opacity: 100%;
 }
}
*/