{% extends 'base.html' %}

{% block content %}

      <!-- If game is over: -->
      {% if over %}
          {% if win %} 
      <h1> You won!!! </h1>
          {% else %}
      <h1> Sorry, you lose. </h1>
          {% endif %}
      <h2> Total Scores: </h2>
      <p>Dealer Score: {{ dealer_score }}</p>
      <p>Player Score: {{ player_score }}</p>
      <p>Your Balance: ${{ balance }} </p>
      
      <h2>Want to play again?</h2>
      <form action="/playagain" method="get">
          <input type="submit" name="Next" value="Yes">
      </form>
      <form action="/" method="get">
          <input type="submit" name="Next" value="No">
      </form>
      {% endif %}

      {% if not over %}
      <h1>Let's Play BlackJack!</h1>
      {% endif %}

    <h2>Dealer's Hand</h2>
    <!-- Images -->
    {% for i in dealer_imgs %}
    <img src={{ url_for('static', filename =i) }}></img> 
    {% endfor %}
    {% if dealer_score %}

    <!-- Return Dealer Score -->
    <p>Dealer Score: {{ dealer_score }}</p>
    <p>My {{ dealer_card }}</p>
    {% endif %}

    <h2>Your Hand</h2>

    {% if balance %}
    <p>Your current balance is ${{ balance }} dollars.</p>
    {% endif %}

    <!-- Wager if new game -->
    {% if place_bet %}
    <form action="/wager" method="post" autocomplete="off">
        <input type="text" name="bet">
        <input type="submit" value="Place Bet">
    </form>
    {% endif %}

    <!-- Images -->
    {% for i in player_imgs %}
    <img src={{ url_for('static', filename =i) }}></img> 
    {% endfor %}

    <!-- Return Player Score -->
    {% if player_score %}
    <p>Your Score: {{ player_score }}</p>
    <p>Your {{ player_card }}</p>
    {% endif %}

    {% if next %}
    <form action="/nextMove" method="post" autocomplete="off">
        <input type="submit" name="Next" value="Hit">
        <input type="submit" name="Next" value="Stand">
        <br>
        <input type="submit" name="Next" value="New Game">
    </form>
    {% endif %}
    
{% endblock %}

