{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Let's Play BlackJack! {% endblock %}</h1>
    <br>

    <h2>Dealer's Hand</h2>
    {% for i in dealer_imgs %}
    <img src={{ url_for('static', filename =i) }}></img> 
    {% endfor %}
    <p>Dealer Score: {{ dealer_score }}</p>
    <p>My {{ dealer_card }}</p>

    <h2>Your Hand</h2>
    <p>{{ balance }}</p>

    {% if place_bet %}
    <form action="/wager" method="post" autocomplete="off">
        <input type="text" name="bet">
        <input type="submit" value="Place Bet">
    </form>
    {% endif %}

    {% for i in player_imgs %}
    <img src={{ url_for('static', filename =i) }}></img> 
    {% endfor %}

    <p>Your Score: {{ player_score }}</p>
    <p>Your {{ player_card }}</p>

{% endblock %}

